---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<ul>
<li><b>Estimating quantum capacity of quantum channels is QMA-hard</b></li>
  <ol>
  <li><em>Apr 08, 2026</em> QLunch, University of Copenhagen</li>
  </ol>
<li><b>The NPA hierarcy does not always attain the commuting operaor values</b></li>
  <ol>
  <li><em>June 03, 2026</em>  SIAM Optimization, Edinburgh, UK</li>
  <li><em>May 20, 2026</em>  Institute Mittag-Leffler, Stockholm, Sweden</li>
  <li><em>Mar 24, 2026</em>  VERIqTAS Workshop, Lyon, France</li>
  <li><em>Jan 28, 2026</em>  Quantum Information Processing (QIP) 2026, Riga, Lativa</li>
  <li><em>Dec 23, 2025</em>  The Honkong University of Science and Technology (Guangzhou)</li>
    <li><em>Dec 22, 2025</em>  Quantum Science Center of Guangdong-Hong Kong-Macao Greater Bay Area, Shenzhen</li>
  </ol>
  <li><b>Arithmetical hierarchy in operator algebras and quantum information </b></li>
  <ol>
  <li><em>Mar 02, 2026</em> Institute Mittag-Leffler, Stockholm, Sweden</li>
  <li><em>Apr 28, 2025</em>  INRIA Saclay, Paris</li>
  <li><em>Apr 04, 2025</em>  QLunch, University of Copenhagen</li>
  <li><em>Dec 20, 2023</em> Academy of Mathematics and System Sciences, CAS, Beijing</li>
  </ol>
  <li><b>Stability of anti-commutation relation: from groups to algebras </b></li>
  <ol>
  <li><em>Apr 01, 2025</em>  Nonlocal Games Seminar, University of Copenhagen</li>
  <li><em>Mar 24, 2025</em>  Nonlocal Games Seminar, University of Copenhagen</li>
    <li><em>Dec 18, 2024</em>  Academy of Mathematics and System Sciences, CAS, Beijing</li>
  </ol>
  <li><b>An operator-algebraic formulation of robust self-testing</b></li>
  <ol>
  <li><em>June 01, 2025</em>  Operator Algebras and Quantum Information, Waterloo</li>
  <li><em>May 14, 2025</em>  Quantum Certification Conference+, Center for Theoretical Physics, Warsaw </li>
    <li><em>Nov 06, 2024</em>  Academy of Mathematics and System Sciences, CAS, Beijing (virtual)</li>
  </ol>

  <li><b>Positivity, sum of squares, and decision problems in quantum information</b></li>
  <ol>
  <li><em>Sept 26, 2025</em> Analysis Seminar, New Mexico State University (virtual)</li>
  <li><em>May 08, 2025</em> Analysis seminar, TU Delft</li>
  <li><em>Mar 19, 2025</em> Quantum Information Seminar, Ruhr University Bochum, Germany</li>
  <li><em>Dec 24, 2024</em> School of Mathematical Sciences, Nanjing University</li>
    <li><em>Mar 05, 2024</em> Nonlocal Games Seminar, University of Copenhagen (virtual)</li>
    <li><em>Jan 25, 2024</em> Institute for Theoretical Physics, University of Innsbruck, Austria (virtual)</li>
    <li><em>Jan 11, 2024</em> QICI, Hong Kong University, Hong Kong</li>
    <li><em>Jan 03, 2024</em> TCS seminar, Nanjing University, Nanjing</li>
    <li><em>Dec 22, 2023</em> Computer Science Seminar, Tsinghua University, Beijing</li>
    <li><em>Nov 28, 2023</em> Math Seminar, Zhejiang University, Hangzhou (virtual)</li>
    <li><em>Nov 23, 2023</em> PMath Analysis Seminar, University of Waterloo</li>
    <li><em>Sep 21, 2023</em> Academy of Mathematics and System Sciences, CAS, Beijing (virtual)</li>
    <li><em>Aug 09, 2023</em> IQC Student Seminar, University of Waterloo</li>
    <li><em>Jul 21, 2023</em> QuSoft Seminar, CWI, Amsterdam, Netherlands</li>
    <li><em>Sep 30, 2022</em> PMATH Graduate Student Seminar, University of Waterloo</li>
    <li><em>Mar 18, 2022</em> Quantum Cryptography Seminar, University of Ottawa (virtual)</li>
  </ol>

  <li><b>Quantum delegation with an off-the-shelf device</b></li>
  <ol>
    <li><em>Sep 12, 2024</em> TQC, Okinawa, Japan</li>
    <li><em>Jun 22, 2023</em> IQC CS/MATH Seminar, University of Waterloo</li>
    <li><em>May 16, 2023</em> IQC Graduate Student Conference, University of Waterloo</li>
  </ol>

  <li><b>An operator-algebraic formulation of self-testing</b></li>
  <ol>
    <li><em>Jul 27, 2023</em> Analytical and Combinatorial Methods in Quantum Information Theory II Workshop, ICMS, Edinburgh, UK</li>
    <li><em>Jul 12, 2023</em> SIAM Applied Algebraic Geometry Conference, Eindhoven, Netherlands</li>
    <li><em>Mar 21, 2023</em> Nonlocal Games Seminar, University of Copenhagen (virtual)</li>
    <li><em>Mar 09, 2023</em> PMath Analysis Seminar, University of Waterloo</li>
    <li><em>Feb 09, 2023</em> Quantum Information Processing 2023, Ghent, Belgium</li>
    <li><em>Dec 02, 2022</em> Canadian Mathematical Society Winter Meeting, Toronto, Canada</li>
  </ol>

  <li><b>An introduction to quantum self-testing</b></li>
  <ol>
    <li><em>Oct 16, 2023</em> SLMath workshop: MIP* = RE and the Connes’ Embedding Problem, Berkeley, CA</li>
    <li><em>Jun 02, 2023</em> Tutorial talk at the Canadian Mathematical Society Summer Meeting, Ottawa</li>
  </ol>
</ul>